.DS_Store
*.xcuserstate
*.xccheckout
*.xcbkptlist
MarsImagesIOS.xcodeproj/xcuserdata/
MarsImagesIOS.xcworkspace/xcuserdata/
xcuserdata/

#Pods
#Podfile.lock
.ruby-version

build/
DerivedData

# fastlane specific
fastlane/report.xml
fastlane/README.md

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
